NXF_DEFAULT_DSL=1

manifest {
    author = 'Oliver Schwengers'
    name = 'baktflow'
    homePage = 'https://github.com/oschwengers/baktflow'
    description = 'A bacterial WGS analysis suite.'
    mainScript = 'main.nf'
    version = '0.2.0'
    nextflowVersion = '>=19'
}


params {
    genus = null
    species = null
    
    sample = null
    r1 = null
    r2 = null
    ont = null
    assembly = null
    
    samples = null
    data = null

    output = '.'

    setupdir = '.'
    containerdir = "${params.setupdir}/conda"
    dbdir = "${params.setupdir}/databases"
    checkm2db = "${params.dbdir}/uniref100.KO.1.dmnd"
    baktadb = '/vol/software/share/bakta/db-v5.0'
    platondb = '/vol/software/share/platon/db'
    amrfinderplusdb = "${params.dbdir}/amrfinderplus/latest"
    vfdb = "${params.dbdir}/vfdb.dmnd"
    silva = "${params.dbdir}/silva-bacteria"
    mashrefseqdb = "${params.dbdir}/refseq.msh"
    gtdbtkdb = "${params.dbdir}/gtdbtk/latest"
    referenceseekerdb = '/vol/software/share/referenceseeker/db/bacteria-refseq'

    scratch = null

    minOntReadLength = 500
    qcOntTargetBases = 500000000
}


process {
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    time = '24h'
}


conda {
    enabled = true
    useMamba = true
}


report {
    enabled = true
    overwrite = true
}


timeline {
    enabled = true
    overwrite = true
}


trace {
    enabled = true
    overwrite = true
}
