
params.BAKTFLOW_SETUPDIR = "../setup"  // Default setup directory
params.CONDA_DIR = "${params.BAKTFLOW_SETUPDIR}/conda_envs"
params.DATABASE_DIR = "${params.BAKTFLOW_SETUPDIR}/databases"
params.PUBLISH_DIR_MODE = 'copy'

conda {
    cacheDir = "${params.CONDA_DIR}"
    useMamba = true  // Optionally enable Mamba for faster environment creation
    enabled = true   // Ensure Conda is enabled for processes
}