
conda {
    useMamba = true 
    enabled = true   // Ensure Conda is enabled for processes
}
process {
    // Default resources for all processes
    cpus = 1
    memory = '2 GB'

    // Specific configuration for the MEDAKA process
    withName: 'MEDAKA' {
        cpus = 8
        memory = '32 GB'
    }

    // Specific configuration for the BAKTA process
    withName: 'BAKTA' {
        cpus = 4
        memory = '16 GB'
    }

    // Specific configuration for the UNICYCLER process
    withName: 'UNICYCLER' {
        cpus = 12
        memory = '48 GB'
    }

    // Specific configuration for the Flye process
    withName: 'Flye' {
        cpus = 30
        memory = '450 GB'
    }

    // Specific configuration for the DNApeler process
    withName: 'DNApeler' {
        cpus = 8
        memory = '32 GB'
    }
}
