import java.time.*

params {
    cacheDir = "$projectDir/../setup/envs"
    databaseDir = "$projectDir/../setup/databases"
    modelsDir = "$projectDir/../setup/models"
    baktaDbType = "light"
    minReadDepth = 25.0
    subsamples = 4
    maxContigs = 100
    assemblers = ['flye', 'canu', 'plassembler', 'miniasm', 'nextdenovo']
    // , 'miniasm', 'myloasm', 'metamdbg', 'nextdenovo'
    // no longer maintained , 'raven', 'necat'
    inputTsv = ""
    output = "$projectDir/../output"
    workDir = "./work"
    useMamba = false
    useMicromamba = false
}

report {
    enabled = true
    file = "report_" + String.format('%tF_%<tH:%<tM', LocalDateTime.now()) + ".html"
}

workDir = params.workDir

conda {
    enabled = true
    useMamba = (boolean) params.useMamba
    useMicromamba = (boolean) params.useMicromamba
    cacheDir = params.cacheDir
}

profiles {
     standard {
        params.threads = Runtime.runtime.availableProcessors()
        params.forks = params.threads - 1
        params.executor = 'local'
        process.executor = 'local'
        process.cpus = 1
        process.memory = { 512.MB * Math.pow(2, task.attempt) }
        process.maxForks = params.forks
    }

    slurm {
        params.threads = 32
        params.array = 100
        params.queue = "idle"
        params.gpu_queue = "gpu"
        params.long_queue = "idle"
        params.executor = 'slurm'
        params.maxRetries = 3
        process.executor = 'slurm'
        process.queue = params.queue
        process.array = params.array
        process.cache = 'lenient'
        process.cpus = 1
        process.memory = { 512.MB * Math.pow(2, task.attempt) }
        process.errorStrategy = 'retry' // { (task.attempt <= params.maxRetries) ? 'retry' : 'finish' }
        process.maxRetries = params.maxRetries
    }
}
